﻿@model MyMSIS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Edit";
}



<h2>Edit</h2>

<h4>StudentDegreePlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentDegreePlanId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-control" asp-items="ViewBag.DegreeId"></select>
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanNumber" class="control-label"></label>
                <input asp-for="PlanNumber" class="form-control" />
                <span asp-validation-for="PlanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanAbbrev" class="control-label"></label>
                <input asp-for="PlanAbbrev" class="form-control" />
                <span asp-validation-for="PlanAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeStatusId" class="control-label"></label>
                <select asp-for="DegreeStatusId" class="form-control" asp-items="ViewBag.DegreeStatusId"></select>
                <span asp-validation-for="DegreeStatusId" class="text-danger"></span>
            </div>
            <!----
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
                -->
        </form>
    </div>
</div>
    




    <div class="container">
        
        <!--<div id="display">Display</div> -->
        <div class="row">
            <div class="col-md-4">
                <div id="drag-elements">
                    <div> Information Systems Analysis and Design </div>
                    <div>Developing Object-Oriented Systems with Java </div>
                    <div>Database Design and Implementation </div>
                    <div>Enterprise Networking and Internetworking </div>
                    <div> User Centered System Design and Evaluation </div>
                    <div> Cybersecurity and Information Systems Security Management</div>
                    <div> Professionalism in the IS Environment </div>
                    <div> Project Management for Business and Technology </div>
                    <div> Financial Modeling and Decision Making for IT </div>
                    <div> Business Intelligence and Analytics </div>
                    <div> IS Capstone Project </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target4">
                        </div>
                    </div>
                </div>

            </div>
        </div>



          </div>
   
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/drag.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
