﻿@model MyMSIS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Edit";

     
}



<h2>Edit</h2>

<h4>StudentDegreePlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentDegreePlanId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-control" asp-items="ViewBag.DegreeId"></select>
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanNumber" class="control-label"></label>
                <input asp-for="PlanNumber" class="form-control" />
                <span asp-validation-for="PlanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanAbbrev" class="control-label"></label>
                <input asp-for="PlanAbbrev" class="form-control" />
                <span asp-validation-for="PlanAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DegreeStatusId" class="control-label"></label>
                <select asp-for="DegreeStatusId" class="form-control" asp-items="ViewBag.DegreeStatusId"></select>
                <span asp-validation-for="DegreeStatusId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
               
        </form>
    </div>
</div>
    




    <div class="container">
        
        <!--<div id="display">Display</div> -->
        <div class="row">
            <div class="col-md-4">
                <h2>UnPlanned Requirements</h2>
                <div id="drag-elements">
                   

                        @{
                            foreach (var term in Model.PlanTerms.OrderBy((s => s.TermNumber)))
                            {
                                var totalTerms = Model.PlanTerms.Count;

                                var myid = "drop-elements" + term.TermNumber;
                                var limit = term.PlanTermRequirements.Count;
                                var i = 0;


                                @foreach (var req in Model.Degree.DegreeRequirements)
                                {



                                    if (i < limit && (term.PlanTermRequirements.ElementAt(i).RequirementStatusId == 3))
                                    {
                                        var inside = req.Degree.DegreeRequirements.Count;

                                        var myClass = term.PlanTermRequirements.ElementAt(i).RequirementNumber;
                                        for (var j = 0; j < inside; j++)
                                        {
                                            if (myClass == req.Degree.DegreeRequirements.ElementAt(j).RequirementNumber)
                                            {
                                                <div>

                                                    @req.Degree.DegreeRequirements.ElementAt(j).RequirementName


                                                </div>
                                            }
                                        }

                                    }



                                    i++;


                                }


                            }

                        }
                    



                </div>
            </div>

            <div class="col-md-8">
                <div class="row">

                    @{ 
                        foreach (var term in Model.PlanTerms.OrderBy((s => s.TermNumber)))
                        {
                            var totalTerms = Model.PlanTerms.Count;
                            
                            var myid = "drop-target" + term.TermNumber;
                            var limit = term.PlanTermRequirements.Count;
                            var i = 0;
                            
                        <div class="col-md-6">
                            <h2> @term.TermAbbrev</h2>
                            <div class="drop-target" id="@myid">
                                @foreach (var req in Model.Degree.DegreeRequirements)
                                {



                                    if (i < limit && (term.PlanTermRequirements.ElementAt(i).RequirementStatusId == 1 || term.PlanTermRequirements.ElementAt(i).RequirementStatusId == 2))
                                    {
                                        var inside = req.Degree.DegreeRequirements.Count;

                                        var myClass = term.PlanTermRequirements.ElementAt(i).RequirementNumber;
                                        for (var j = 0; j < inside; j++) {
                                            if (myClass == req.Degree.DegreeRequirements.ElementAt(j).RequirementNumber) {
                                        <div class="drag-elements">@req.Degree.DegreeRequirements.ElementAt(j).RequirementName</div>
                                            }
                                        }

                                    }



                                    i++;


                                }

                            </div>
                        </div>
                                }
                            
                        }



                </div></div></div></div><div>
    <a asp-action="Index">Back to List</a>
</div>

    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.8/dragula.css
     
        <script type="text/javascript">
            function $(id) {
                return document.getElementById(id);
            }


             dragula([$('drag-elements'), $('drop-target1'), $('drop-target2'), $('drop-target3'), $('drop-target4'), $('drop-target5'), $('drop-target6')], {
                revertOnSpill: true
             }).on('drop', function (el) {

                

        });
</script>
}
