﻿@model MyMSIS.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeAbbrev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeAbbrev)
        </dd>
    </dl>
    <dt>
        @Html.DisplayNameFor(model => model.DegreeRequirements)
    </dt>
    <dd>
        <table class="table">
            <tr>
                <td><b>Number</b</td>
                <td><b>Abbrev</b></td>
                <td><b>RequirementName</b></td>

            </tr>
            @foreach (var item in Model.DegreeRequirements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequirementNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequirementAbbrev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequirementName)
                    </td>
                </tr>
            }
        </table>
    </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
