﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <center><h1>My MSIS</h1></center>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Welcome to MyMSIS Application</h2>
        <p>
            Use this application to plan your Master of Science in Information Systems
        </p>
    </div>
    
    
</div>